.skins-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 50px;
    margin-bottom: 60px;
}

.skin-card {
    position: relative;
    background: linear-gradient(180deg, #1b2130, #111520);
    border-radius: 22px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    overflow: hidden;
}


.weapon-name {
    font-size: 17px;
    color: #aaa;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.skin-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
}

.skin-price {
    font-size: 22px;
    font-weight: bold;
    color: #f2a900;
    margin-bottom: 22px;
}


.skin-image {
    overflow: hidden;
    border-radius: 14px;
}

.skin-image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}


.skin-card form {
    position: relative;
    z-index: 10; 
    margin-top: auto; 
}
.skin-card button {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: #1f2636;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.skin-card button:hover {
    background: #f2a900;
    color: #111;
}
